name: restuarant-api

on:
  push:
    branches: [main]
  pull_request:
    branches:
      -main
  workflow_dispatch:

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with: 
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: build
        run: dotnet build --no-restore
      - name: test
        run: dotnet test
    

    
